<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header bg-success">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3 class="modal-title"><%= @transportation.shortcut %></h3>
    </div>
    <div class = "modal-body">
      <table class = "table table-stripped">
        <th>Ημερ/νία</th>
        <th>Τοποθεσία</th>
        <tr/>
        <td>29/06/2016</td>
        <td>Θεσσαλονίκη</td>
        <tr/>
        <td>28/06/2016</td>
        <td>Καβάλα</td>
        <tr/>
        <td>27/06/2016</td>
        <td>Θεσσαλονίκη</td>

      </table>
    </div>
    <div class="modal-footer">
      <div class="actions">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="glyphicon glyphicon-remove"></span>OK
        </button>
      </div>
    </div>
</div>
