<p id="notice"><%= notice %></p>

<p>
  <strong>Πινακίδα:</strong>
  <%= @transportation.shortcut %>
</p>

<table class = "table table-stripped">
  <th>Ημερ/νία</th>
  <th>Τοποθεσία</th>
  <tr/>
  <td>29/06/2016</td>
  <td>Θεσσαλονίκη</td>
  <tr/>
  <td>28/06/2016</td>
  <td>Καβάλα</td>
  <tr/>
  <td>27/06/2016</td>
  <td>Θεσσαλονίκη</td>

</table>
