<p id="notice"><%= notice %></p>
<%= render 'form' %>

<h1>Listing Routes</h1>

<table id = "routes-table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Route desc</th>
      <th>Route date</th>
      <th>Quantity</th>
      <th>Sales value</th>
      <th>Purchases value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @routes %> 
  </tbody>
</table>

<br>