<p id="notice"><%= notice %></p>
<%= render 'form' %>
<br/>
<br/>
<br/>
<h1>ΔΡΟΜΟΛΟΓΙΑ</h1>

<table class="table table-hover" id = "routes-table">
  <thead>
    <tr>
      <th>Εντολέας</th>
      <th>Δρομολόγιο</th>
      <th>Ημερομηνία</th>
      <th>Τράκτορας</th>
      <th>Ποσότητα</th>
      <th>Πωλήσεις</th>
      <th>Αγορές</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @routes %>
  </tbody>
</table>

<br>
<div class="modal fade" id="modal">
</div>
